@font-face {
    font-family: Oswald; /* Имя шрифта */
    src: url(../../fonts/Oswald-Regular.ttf); /* Путь к файлу со шрифтом */
}

h1, h2, h3, h4 {
    font-family: Oswald, sans-serif !important;
}

.widget-title {
    text-align: center;
    color: #d26c22;
    margin-bottom: 15px;
}