.weather-table {
    font: 400 14px/1.4 Roboto,Arial,sans-serif;
    border: 1px solid #ddd;
    width: 100%;
    background-color: #f9f9f9;
}

.weather-table td {
    border: 1px solid #ddd;
    padding: 5px;
}

.weather-table-coords {
    color: #d26c22;
}